In [1]:
import os
import numpy as np
import pandas as pd
from sodapy import Socrata

In [2]:
socrata_domain = 'data.cityofchicago.org'
socrata_dataset_identifier = '6zsd-86xi'
socrata_token = os.environ.get("SODAPY_APPTOKEN")

In [3]:
client = Socrata(socrata_domain, socrata_token)
print("Domain: {domain:}\nSession: {session:}\nURI Prefix: {uri_prefix:}".format(**client.__dict__))

Domain: data.cityofchicago.org
Session: <requests.sessions.Session object at 0x1180db978>
URI Prefix: https://

In [29]:
results1 = client.get(socrata_dataset_identifier, limit = 50000)
df1 = pd.DataFrame.from_dict(results1)
df1.head()

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
0,False,0412,016XX E 86TH PL,JA366925,45,2001-01-01T11:00:00.000,FINANCIAL IDENTITY THEFT OVER $ 300,004,False,11,...,NaN,NaN,RESIDENCE,NaN,DECEPTIVE PRACTICE,2017-08-05T15:50:08.000,8,NaN,NaN,2001
1,True,1034,026XX S CALIFORNIA BLVD,JA529032,30,2017-11-28T21:43:00.000,VIOLENT OFFENDER: ANNUAL REGISTRATION,010,False,26,...,41.843778126,"{'type': 'Point', 'coordinates': [-87.69463767...",JAIL / LOCK-UP FACILITY,-87.694637678,OTHER OFFENSE,2018-02-11T15:54:58.000,12,1158280,1886310,2017
2,True,1221,007XX N SACRAMENTO BLVD,JA545986,23,2017-12-11T19:15:00.000,ARMED: HANDGUN,012,False,03,...,41.894475919,"{'type': 'Point', 'coordinates': [-87.70216915...",SIDEWALK,-87.702169158,ROBBERY,2018-02-11T15:54:58.000,27,1156092,1904769,2017
3,False,2222,092XX S RACINE AVE,JB147188,73,2017-10-08T03:00:00.000,NON-AGGRAVATED,022,False,02,...,NaN,NaN,RESIDENCE,NaN,CRIM SEXUAL ASSAULT,2018-02-11T15:57:41.000,21,NaN,NaN,2017
4,False,0835,026XX W 79TH ST,JB147595,70,2017-03-28T14:00:00.000,UNLAWFUL ENTRY,008,False,05,...,NaN,NaN,OTHER,NaN,BURGLARY,2018-02-11T15:57:41.000,18,NaN,NaN,2017

In [19]:
results2 = client.get(socrata_dataset_identifier, limit = 50000, offset = 50000)
df2 = pd.DataFrame.from_dict(results2)
df2.shape

(50000, 22)

In [20]:
results3 = client.get(socrata_dataset_identifier, limit = 50000, offset = 100000)
df3 = pd.DataFrame.from_dict(results3)
df3.shape

(50000, 22)

In [16]:
df.shape

(50000, 22)

In [30]:
df1.tail(3)

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
49997,False,0513,108XX S DR MARTN LUTHR KING JR DR,G022858,NaN,2001-01-05T18:00:00.000,TO VEHICLE,005,False,14,...,41.697707155,"{'type': 'Point', 'coordinates': [-87.61336371...",STREET,-87.613363714,CRIMINAL DAMAGE,2015-08-17T15:03:40.000,NaN,1180871,1833258,2001
49998,True,0232,051XX S WENTWORTH AV,G023025,NaN,2001-01-11T18:00:00.000,SEX OFFENDER: FAIL TO REGISTER,002,False,26,...,41.801809043,"{'type': 'Point', 'coordinates': [-87.63056327...",GOVERNMENT BUILDING/PROPERTY,-87.630563272,OTHER OFFENSE,2015-08-17T15:03:40.000,NaN,1175864,1871153,2001
49999,False,1233,008XX W 19 ST,G023121,NaN,2001-01-10T21:00:00.000,$500 AND UNDER,012,False,06,...,41.856840968,"{'type': 'Point', 'coordinates': [-87.64663, 4...",STREET,-87.64663,THEFT,2015-08-17T15:03:40.000,NaN,1171323,1891171,2001

In [11]:
iucrc = pd.read_csv('Chicago_Police_Department_-_Illinois_Uniform_Crime_Reporting__IUCR__Codes.csv')

In [12]:
iucrc

,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,INDEX CODE
0,110,HOMICIDE,FIRST DEGREE MURDER,I
1,130,HOMICIDE,SECOND DEGREE MURDER,I
2,141,HOMICIDE,INVOLUNTARY MANSLAUGHTER,N
3,142,HOMICIDE,RECKLESS HOMICIDE,N
4,261,CRIM SEXUAL ASSAULT,AGGRAVATED: HANDGUN,I
5,262,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER FIREARM,I
6,263,CRIM SEXUAL ASSAULT,AGGRAVATED: KNIFE/CUT INSTR,I
7,264,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER DANG WEAPON,I
8,265,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER,I
9,266,CRIM SEXUAL ASSAULT,PREDATORY,I
10,271,CRIM SEXUAL ASSAULT,ATTEMPT AGG: HANDGUN,I
11,272,CRIM SEXUAL ASSAULT,ATTEMPT AGG: OTHER FIREARM,I
12,273,CRIM SEXUAL ASSAULT,ATTEMPT AGG: KNIFE/CUT INSTR,I
13,274,CRIM SEXUAL ASSAULT,ATTEMPT AGG: OTHER DANG WEAPON,I
14,275,CRIM SEXUAL ASSAULT,ATTEMPT AGG: OTHER,I
15,281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,I
16,291,CRIM SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,I
17,312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,I
18,313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,I
19,031A,ROBBERY,ARMED: HANDGUN,I
20,031B,ROBBERY,ARMED: OTHER FIREARM,I
21,320,ROBBERY,STRONGARM - NO WEAPON,I
22,325,ROBBERY,VEHICULAR HIJACKING,I
23,326,ROBBERY,AGGRAVATED VEHICULAR HIJACKING,I
24,330,ROBBERY,AGGRAVATED,I
25,331,ROBBERY,ATTEMPT: AGGRAVATED,I
26,334,ROBBERY,ATTEMPT: ARMED-KNIFE/CUT INSTR,I
27,337,ROBBERY,ATTEMPT: ARMED-OTHER DANG WEAP,I
28,033A,ROBBERY,ATTEMPT: ARMED-HANDGUN,I
29,033B,ROBBERY,ATTEMPT: ARMED-OTHER FIREARM,I
...,...,...,...,...
371,4652,OTHER OFFENSE,SEX OFFENDER: PROHIBITED ZONE,N
372,4740,OTHER OFFENSE,UNLAWFUL USE OF BODY ARMOR,N
373,4750,OTHER OFFENSE,DISCLOSE DV VICTIM LOCATION,N
374,4800,OTHER OFFENSE,MONEY LAUNDERING,N
375,4810,OTHER OFFENSE,COMPOUNDING A CRIME,N
376,4860,OTHER OFFENSE,BOARD PLANE WITH WEAPON,N
377,5000,OTHER OFFENSE,OTHER CRIME AGAINST PERSON,N
378,5001,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,N
379,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,N
380,5003,OTHER OFFENSE,OTHER ARSON/EXPLOSIVE INCIDENT,N
381,5004,SEX OFFENSE,ATT CRIM SEXUAL ABUSE,N
382,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,N
383,5009,OTHER OFFENSE,VIOLATION OF SMOKING BAN,N
384,500E,OTHER OFFENSE,EAVESDROPPING,N
385,500N,OTHER OFFENSE,ABUSE/NEGLECT: CARE FACILITY,N
386,5011,OTHER OFFENSE,LICENSE VIOLATION,N
387,501A,OTHER OFFENSE,ANIMAL ABUSE/NEGLECT,N
388,501H,OTHER OFFENSE,HAZARDOUS MATERIALS VIOLATION,N
389,502P,OTHER OFFENSE,FALSE/STOLEN/ALTERED TRP,N
390,502R,OTHER OFFENSE,VEHICLE TITLE/REG OFFENSE,N
391,502T,OTHER OFFENSE,TAMPER WITH MOTOR VEHICLE,N
392,5110,OTHER OFFENSE,GUN OFFENDER: DUTY TO REGISTER,N
393,5111,OTHER OFFENSE,GUN OFFENDER: ANNUAL REGISTRATION,N
394,5112,OTHER OFFENSE,GUN OFFENDER: DUTY TO REPORT CHANGE OF INFORMA...,N
395,5120,OTHER OFFENSE,ARSONIST: DUTY TO REGISTER,N
396,5121,OTHER OFFENSE,ARSONIST: ANNUAL REGISTRATION,N
397,5122,OTHER OFFENSE,ARSONIST: FAIL TO REGISTER NEW ADDRESS,N
398,5130,OTHER OFFENSE,VIOLENT OFFENDER: DUTY TO REGISTER,N
399,5131,OTHER OFFENSE,VIOLENT OFFENDER: ANNUAL REGISTRATION,N
400,5132,OTHER OFFENSE,VIOLENT OFFENDER: FAIL TO REGISTER NEW ADDRESS,N

In [22]:
df2.head(5)

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
0,False,2113,029XX S FEDERAL ST,G023843,NaN,2001-01-11T23:55:00.000,$500 AND UNDER,002,False,06,...,41.841421559,"{'type': 'Point', 'coordinates': [-87.62905104...",CHA HALLWAY/STAIRWELL/ELEVATOR,-87.629051044,THEFT,2015-08-17T15:03:40.000,NaN,1176158,1885591,2001
1,False,1811,017XX W FULLERTON AV,G005875,NaN,2001-01-03T17:15:00.000,$500 AND UNDER,018,False,06,...,41.924983829,"{'type': 'Point', 'coordinates': [-87.67246388...",DEPARTMENT STORE,-87.672463883,THEFT,2015-08-17T15:03:40.000,NaN,1164094,1915947,2001
2,True,0211,035XX S FEDERAL ST,G012175,NaN,2001-01-06T16:15:00.000,MANU/DELIVER: HEROIN (WHITE),002,False,18,...,41.83038838,"{'type': 'Point', 'coordinates': [-87.62884910...",CHA PARKING LOT/GROUNDS,-87.628849105,NARCOTICS,2015-08-17T15:03:40.000,NaN,1176246,1881571,2001
3,False,2525,021XX N KEELER AV,G022545,NaN,2001-01-10T13:00:00.000,$500 AND UNDER,025,False,06,...,41.919591617,"{'type': 'Point', 'coordinates': [-87.73138639...","SCHOOL, PUBLIC, BUILDING",-87.731386394,THEFT,2015-08-17T15:03:40.000,NaN,1148073,1913864,2001
4,True,2031,022XX W AINSLIE ST,G019278,NaN,2001-01-09T00:25:00.000,UNLAWFUL USE OTHER DANG WEAPON,020,False,15,...,41.970382826,"{'type': 'Point', 'coordinates': [-87.68475127...",STREET,-87.684751274,WEAPONS VIOLATION,2015-08-17T15:03:40.000,NaN,1160625,1932465,2001

In [23]:
df2.tail(3)

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
49997,False,0523,120XX S EGGLESTON AV,G112451,NaN,2001-02-25T20:44:50.000,AGGRAVATED: OTHER DANG WEAPON,005,True,04B,...,41.675992557,"{'type': 'Point', 'coordinates': [-87.63356992...",ALLEY,-87.633569923,BATTERY,2015-08-17T15:03:40.000,NaN,1175417,1825300,2001
49998,False,1723,041XX N ST LOUIS AV,G112644,NaN,2001-02-25T22:45:00.000,TO VEHICLE,017,False,14,...,41.957251872,"{'type': 'Point', 'coordinates': [-87.71561646...",STREET,-87.715616462,CRIMINAL DAMAGE,2015-08-17T15:03:40.000,NaN,1152266,1927618,2001
49999,False,1434,018XX W CORTLAND ST,G112257,NaN,2001-02-18T20:05:00.000,SIMPLE,014,False,08A,...,41.916112824,"{'type': 'Point', 'coordinates': [-87.67408386...",RESIDENCE,-87.674083862,ASSAULT,2015-08-17T15:03:40.000,NaN,1163678,1912711,2001

In [24]:
df3.head(3)

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
0,False,0111,0000X N WACKER DR,G108969,NaN,2001-02-23T17:22:02.000,SIMPLE,001,False,08B,...,41.881976213,"{'type': 'Point', 'coordinates': [-87.63716942...",STREET,-87.637169426,BATTERY,2015-08-17T15:03:40.000,NaN,1173826,1900351,2001
1,False,0633,005XX E 92 ST,G109494,NaN,2001-02-23T23:25:47.000,AUTOMOBILE,006,False,07,...,41.727529967,"{'type': 'Point', 'coordinates': [-87.61122112...",STREET,-87.611221121,MOTOR VEHICLE THEFT,2015-08-17T15:03:40.000,NaN,1181365,1844130,2001
2,False,1032,027XX S MILLARD AV,G111195,NaN,2001-02-25T00:00:48.000,AGGRAVATED: HANDGUN,010,False,04B,...,41.841870161,"{'type': 'Point', 'coordinates': [-87.71609257...",STREET,-87.716092578,BATTERY,2015-08-17T15:03:40.000,NaN,1152439,1885572,2001

In [25]:
df1.index

RangeIndex(start=0, stop=50000, step=1)

In [26]:
df1.columns

Index(['arrest', 'beat', 'block', 'case_number', 'community_area', 'date',
       'description', 'district', 'domestic', 'fbi_code', 'id', 'iucr',
       'latitude', 'location', 'location_description', 'longitude',
       'primary_type', 'updated_on', 'ward', 'x_coordinate', 'y_coordinate',
       'year'],
      dtype='object')

In [27]:
df1.values

array([[False, '0412', '016XX E 86TH PL', ..., nan, nan, '2001'],
       [True, '1034', '026XX S CALIFORNIA BLVD', ..., '1158280',
        '1886310', '2017'],
       [True, '1221', '007XX N SACRAMENTO BLVD', ..., '1156092',
        '1904769', '2017'],
       ...,
       [False, '0513', '108XX S DR MARTN LUTHR KING JR DR', ...,
        '1180871', '1833258', '2001'],
       [True, '0232', '051XX S WENTWORTH AV', ..., '1175864', '1871153',
        '2001'],
       [False, '1233', '008XX W 19 ST', ..., '1171323', '1891171',
        '2001']], dtype=object)

In [31]:
df1['arrest']

0        False
1         True
2         True
3        False
4        False
5        False
6         True
7        False
8        False
9        False
10       False
11       False
12       False
13        True
14       False
15       False
16        True
17       False
18       False
19       False
20        True
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28        True
29       False
         ...
49970     True
49971    False
49972    False
49973    False
49974    False
49975    False
49976    False
49977    False
49978    False
49979     True
49980    False
49981    False
49982    False
49983    False
49984    False
49985    False
49986    False
49987    False
49988    False
49989    False
49990    False
49991    False
49992    False
49993     True
49994    False
49995    False
49996    False
49997    False
49998     True
49999    False
Name: arrest, Length: 50000, dtype: bool

In [32]:
# calculating avg number of missing values per column
df1.isna().sum()/50000

arrest                  0.00000
beat                    0.00000
block                   0.00000
case_number             0.00000
community_area          0.18104
date                    0.00000
description             0.00000
district                0.00000
domestic                0.00000
fbi_code                0.00000
id                      0.00000
iucr                    0.00000
latitude                0.03964
location                0.03964
location_description    0.00470
longitude               0.03964
primary_type            0.00000
updated_on              0.00000
ward                    0.18102
x_coordinate            0.03964
y_coordinate            0.03964
year                    0.00000
dtype: float64

In [34]:
train = df1.append(df2, ignore_index=True)

In [35]:
train.isna().sum()/50000

arrest                  0.00000
beat                    0.00000
block                   0.00000
case_number             0.00000
community_area          1.17920
date                    0.00000
description             0.00000
district                0.00000
domestic                0.00000
fbi_code                0.00000
id                      0.00000
iucr                    0.00000
latitude                0.04034
location                0.04034
location_description    0.00470
longitude               0.04034
primary_type            0.00000
updated_on              0.00000
ward                    1.17916
x_coordinate            0.04034
y_coordinate            0.04034
year                    0.00000
dtype: float64